/* Estilo geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    font-family: "Montserrat", sans-serif;
}
.container {
    margin: 0 2em;
}
/* Estilo para topo */
.topo {
    background-color: #46204D;
    height: 134px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.logo {
    font-size: 22px;
    font-weight: bold;
    color: white;
}
#nav-menu {
    display: flex;
    justify-content: flex-end;
}
#nav-menu a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    display: flex;
    align-items: center;
}
/* Estilo para menu hambúrguer e navegação mobile */
.menu-hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}
.mobile-nav {
    display: none;
    flex-direction: column;
    background-color: #46204D;
    position: absolute;
    top: 134px; /* Altura do topo */
    width: 100%;
    left: 0;
    z-index: 1000;
}
.mobile-nav a {
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #fff;
}
/* Media Query para telas menores */
@media screen and (max-width: 768px) {
    #nav-menu {
        display: none;
    }
    .menu-hamburger {
        display: block;
    }
}
/* Estilo dos cartões */
.card_pet {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}
.card__container {
    display: flex;
    transition: transform 0.5s ease;
}
.card__cachorros {
    background-color: #F7F7F7;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 5px 10px 2px rgb(24, 6, 24);
    flex: 0 0 auto;
    width: calc(100% / 3 - 20px);
    max-width: 300px;
    padding: 15px;
    box-sizing: border-box;
}
/* Estilos para telas menores */
@media screen and (max-width: 768px) {
    .card__cachorros {
        width: calc(100% / 2 - 20px);
    }
}
@media screen and (max-width: 480px) {
    .card__cachorros {
        width: 100%;
    }
}
#seta_esquerda, #seta_direita {
    color: #46204D;
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
#seta_esquerda {
    left: 0;
}
#seta_direita {
    right: 0;
}
.informacoes_um {
    margin: 15px;
}
.nome span, .especie span, .idade span, .peso span, .porte span, .local span, .sexo span, .sobre_pet span {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
}
.nome p, .especie p, .idade p, .peso p, .porte p, .local p, .sexo p, .sobre_pet p {
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
}
.rodape {
    font-size: 15px;
    font-weight: bold;
    background-color: #46204D;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    padding: 10px 0;
}
