*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    font-family: "Montserrat", sans-serif;
}
.topo{
    background-color:#46204D;
    height: 134px;
}
.logo{
    font-size: 22px;
    font-weight: bold;
    margin-left: 65px;
    color: white;
    margin-top: 30px;
    width: 550px;
    height: 59px;
}
#nav-menu{
    display: flex;
    float: right;
    justify-content: end;
    width: 100%;
    margin-top: 40px;
}
#nav-menu a{
    color: white;
    text-decoration: none; 
    display: flex;
    justify-content: end;
    padding-right: 50px;
    margin-top: 10px;
}

.header-container{
    width: 100%;
}
.titulo-principal{
    margin-left: 94px;
    margin-top: 50px;
    width: 523px;
}
.titulo-principal h1{
    font-size: 22px;
}
.card_pet{
    font-family: "Inter";
}
.card_um{
    background-color: #F7F7F7;
    border-radius: 10px;
    margin-top: 45px;
    margin-left: 250px;
    height: 393px;
    width: 300px;
}
.informacoes_um{
    display: flex;
    padding: 30px;
}
.primeira_info{
    justify-content: space-between;
}
.primeira_info span{
    font-family: "Inter", "Light";
    font-size: 10px;
}
.segunda_info p{
    font-size: 14px;
}
.segunda_info span{
    font-family: "Inter", "Light";
    font-size: 10px;
}
.terceira_info span{
    font-family: "Inter", "Light";
    font-size: 10px;
}
.terceira_info p{
    font-size: 14px;
}
