*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    font-family: "Montserrat", sans-serif;
}
.topo{
    background-color:#46204D;
    height: 134px;
}
.logo{
    font-size: 22px;
    font-weight: bold;
    margin-left: 65px;
    color: white;
    margin-top: 30px;
    width: 550px;
    height: 59px;
}
#nav-menu{
    display: flex;
    float: right;
    justify-content: end;
    width: 100%;
    margin-top: 40px;
}
#nav-menu a{
    color: white;
    text-decoration: none; 
    display: flex;
    justify-content: end;
    padding-right: 50px;
    margin-top: 10px;
}
.header-container{
    width: 100%;
}
.titulo-principal{
    margin-left: 94px;
    margin-top: 50px;
    width: 523px;
}
.titulo-principal h1{
    font-size: 22px;
}
.card_pet{
    font-family: "Inter";
}
.card_um{
    background-color: #F7F7F7;
    border-radius: 10px;
    margin-top: 45px;
    margin-left: 250px;
    height: 455px;
    width: 230px;
}
.foto{
    border-radius: 10px;
    margin-left: 24px;
    margin-top: 15px;
}
.informacoes_um{
    margin-left: 25px;
    margin-top: 5px;
}
.nome span, .especie span, .idade span, .peso span, .porte span, .local span, .sobre_pet span{
    font-size: 10px;
}
.nome p, .especie p, .idade p, .peso p, .porte p, .local p, .sobre_pet p{
    font-size: 13px;
}
.nome, .especie{
    display: inline-block;
    float: left;
    width: 50%;
}
.idade, .peso, .porte{
    float: left;
    width: 50%;
}
.local, .sobre_pet{
    float: left;
    width: 50%;
}
#quero_adotar button{
    background-color:#46204D;
    border-radius: 20px;
    color: white;
    font-family: "Inter";
    font-weight: bold;
    margin-left: 22px;
    margin-top: 20px;
    width: 146px;
    height: 40px;
    border: none;
}